*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

button{
    background-color:rgb(255, 0, 200);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 1px 1px 5px;
    text-transform: uppercase;
}

button:hover{
    background-color: plum;
}

button:active{
    box-shadow: -1px -1px 5px;
    background-color: rgb(255, 0, 200);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 14vw;
}

.heart{
    width: 5vw;
    position: fixed;
    transform: translateX(-6vw) translateY(2vw);
    display: none;
    transition: all 2s;
}

.heart-fly{
    transform: translateX(2vw) translateY(-2vw);
    display: inline;
}

.pic{
    margin: 3rem 0 3rem 0;
    width: 100%;
    max-width: 30rem;
    height: auto;
    padding: 3vw;
}

.title{
    font-family: 'Libre Baskerville';
    font-size: 9vw;
    text-decoration: underline;
    color: rgb(143, 94, 16);
}